Source: ubuntu-download-manager
Section: net
Priority: optional
Build-Depends: cmake,
               debhelper (>= 9),
               doxygen,
               dbus-test-runner,
               google-mock,
               qt5-qmake,
               qt5-default,
               qtbase5-dev,
               qtsystems5-dev,
               libboost-log-dev,
               libboost-program-options-dev,
               libdbus-1-dev,
               libqt5sql5-sqlite,
               libnih-dbus-dev,
               libgoogle-glog-dev,
               qtdeclarative5-dev,
               qtdeclarative5-dev-tools,
               qtdeclarative5-test-plugin
Maintainer: Manuel de la Peña <manuel.delapena@canonical.com>
Standards-Version: 3.9.5
Homepage: https://launchpad.net/ubuntu-system-image
# if you don't have have commit access to this branch but would like to upload
# directly to Ubuntu, don't worry: your changes will be merged back into the
# upstream branch
Vcs-Bzr: lp:ubuntu-download-manager

Package: libudm-common0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Upload Download Manager - shared common library
 Upload Download Manager performs uploads and downloads from a centralized
 location.
 .
 This package includes the common shared library between the client lib and the
 service lib.

Package: libudm-common-dev
Section: libdevel
Architecture: any
Depends: libudm-common0 (= ${binary:Version}),
         qtbase5-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Description: QT library for Ubuntu Download Manager - development files
 This package contains the common headers shared between the client library and
 the daemon library.

Package: libudm-priv-common0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libudm-common0 (= ${binary:Version}),
Breaks: libubuntu-download-manager-priv1
Replaces: libubuntu-download-manager-priv1
Description: Upload Download Manager - shared private library
 Upload Download Manager performs downloads from a centralized location.
 .
 This package includes the private shared library.

Package: libubuntu-download-manager-common0
Section: libs
Architecture: any
Depends: libudm-common0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Breaks: ubuntu-download-manager-common1
Replaces: ubuntu-download-manager-common1
Description: Ubuntu Download Manager - shared common library
 Ubuntu Download Manager performs downloads from a centralized location.
 .
 This package includes the common shared library between the client lib and the
 service lib.

Package: libubuntu-download-manager-common-dev
Section: libdevel
Architecture: any
Depends: libudm-common-dev (= ${binary:Version}),
         libubuntu-download-manager-common0 (= ${binary:Version}),
         qtbase5-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Breaks: ubuntu-download-manager-common-dev
Replaces: ubuntu-download-manager-common-dev
Description: QT library for Ubuntu Download Manager - development files
 This package contains the common headers shared between the client library and
 the daemon library.

Package: libubuntu-download-manager-client0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libudm-common0 (= ${binary:Version}),
         libubuntu-download-manager-common0 (= ${binary:Version}),
Breaks: ubuntu-download-manager-client1
Replaces: ubuntu-download-manager-client1
Description: Ubuntu Download Manager - shared public library
 Ubuntu Download Manager performs downloads from a centralized location.
 .
 This package includes the public shared library.

Package: libubuntu-download-manager-client-dev
Section: libdevel
Architecture: any
Depends: libudm-common-dev (= ${binary:Version}),
         libubuntu-download-manager-common-dev (= ${binary:Version}),
         libubuntu-download-manager-client0 (= ${binary:Version}),
         qtbase5-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Breaks: ubuntu-download-manager-client-dev
Replaces: ubuntu-download-manager-client-dev
Description: QT library for Ubuntu Download Manager - development files
 This package contains the header that can be used to allow an application use
 the Ubuntu Download Manager client library.

Package: libubuntu-download-manager-client-doc
Section: doc
Architecture: all
Depends: libubuntu-download-manager-client-dev (>= ${source:Version}),
          ${misc:Depends},
Description: Documentation files for libcontent-hub-dev 
 Documentation files for the libcontent-hub development

Package: libubuntu-upload-manager-common0
Section: libs
Architecture: any
Depends: libudm-common0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Ubuntu Upload Manager - shared common library
 Ubuntu Upload Manager performs uploads from a centralized location.
 .
 This package includes the common shared library between the client lib and the
 service lib.

Package: libubuntu-upload-manager-common-dev
Section: libdevel
Architecture: any
Depends: libudm-common-dev (= ${binary:Version}),
         libubuntu-download-manager-common0 (= ${binary:Version}),
         qtbase5-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Description: QT library for Ubuntu Upload Manager - development files
 This package contains the common headers shared between the client library and
 the daemon library.

Package: ubuntu-download-manager
Section: net
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libudm-common0 (= ${binary:Version}),
         libudm-priv-common0 (= ${binary:Version}),
         libubuntu-download-manager-common0 (= ${binary:Version}),
         unzip
Description: Ubuntu Download Manager - daemon
 Ubuntu Download Manager performs downloads from a centralized location.
 .
 This package includes the daemon.

Package: ubuntu-upload-manager
Section: net
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libudm-common0 (= ${binary:Version}),
         libudm-priv-common0 (= ${binary:Version}),
         libubuntu-upload-manager-common0 (= ${binary:Version}),
Description: Ubuntu Upload Manager - daemon
 Ubuntu Upload Manager performs uploads from a centralized location.
 .
 This package includes the daemon.

Package: qtdeclarative5-ubuntu-download-manager0.1
Section: net
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libudm-common0 (= ${binary:Version}),
         libubuntu-download-manager-common0 (= ${binary:Version}),
         libubuntu-download-manager-client0 (= ${binary:Version})
Description: Ubuntu Download Manager Plugin
 This package contains a QML Plugin to handle downloads from a pure QML
 application, without the need to write any C++ code.
